
/* Selector por nombre 
h1 {
  color: red;  
}
*/

/* selector por clase "." 

.title{
    background: #00f;
    color: #fff;
}
*/

/* selector por id  "#" */

/* #t1{
    background: #00f;
    color: #fff;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 20px;
}

:root{

    --blue-dark: #1c81d3;
    --blue-light: #0dbfd8;

    --white: #fafafb;
    --black: #080808;

    --gradient: linear-gradient( var(--blue-dark), var(--blue-light));

    --purple: #a708d6;
    --green: #0a0;

    --font: "Roboto", sans-serif;
}

body{
    background: var(--gradient);
    height: 100vh;
    font-family: var(--font);
    color: var(--white);
}

.nav-superior{
    background: var(--black);

    text-align: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 1rem 0;
}

.logo{
    width: 4rem;
}

.links{
    list-style: none;
}

.page{
    text-decoration: none;
    color: var(--white);
    font-weight: 900;
}

/* /////////// END NAVBARS ///////////// */


.container{
    width: 20rem;
    height: 25rem;

    margin: 0 auto;
}

.task-add{
    background: var(--white);
    height: 4rem;
    border-radius: .7rem;

    display: flex;
    align-items: center;
    padding: .5rem;

    margin: 2rem 0;
}

.input{
    width: 100%;
    height: 100%;
    border-radius: .7rem;

    border: none;


    color: var(--purple);
    font-weight: bold;
    padding-left: .5rem;
}

.btn{
    font-size: 2.5rem;
    color: var(--purple);
}

.btn:hover{
   cursor: pointer;
   transform: scale(1.2);
}
/* /////////////////END SECTION //////////// */


.h3{
    margin-bottom: 1rem;
}

.list{
    height: 15rem;
    overflow: auto;
}

.li{
    list-style: none;
    background: var(--purple);

    padding: .5rem 1rem;
    border-radius: .7rem;

    margin: .3rem 0;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons{
    width: 2.5rem;

    display: flex;
    justify-content: space-between;
}


.task_realized{
    list-style: none;
    background: var(--green);

    padding: .5rem 1rem;
    border-radius: .7rem;

    margin: .3rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-check-circle, .fa-trash, .fa-circle{
    cursor: pointer;
}